# ***Tarefa 3.3 - Analise Exploratória e Estatística Descritiva***
Lucas Omar Andrade Leal

---

---
## Tarefa 3.3 - Análise Exploratória e Estatística Descritiva

Esta tarefa consiste em praticar a manipulação de um *dataframe* por meio da biblioteca Pandas e explorar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias. 

---
---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo). 

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

In [1]:
#######################
# ----- IMPORTS ----- #
#######################
import pandas as pd
import numpy as np
import io
import requests

################################
# ----- GLOBAL VARIABLES ----- #
################################
hw_url = 'https://raw.githubusercontent.com/malegopc/DSBD/main/Datasets/Hourly_wages/hourly_wages.csv'

#### a) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [2]:
hw = requests.get(hw_url).content
hw_dataset = pd.read_csv(io.StringIO(hw.decode('utf-8')))
df = pd.DataFrame(hw_dataset)
df.head(3)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0

#### b) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [ ]:
df.head(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [ ]:
df.tail(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [ ]:
df.isnull()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
529,False,False,False,False,False,False,False,False,False,False
530,False,False,False,False,False,False,False,False,False,False
531,False,False,False,False,False,False,False,False,False,False
532,False,False,False,False,False,False,False,False,False,False
533,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wage_per_hour   534 non-null    float64
 1   union           534 non-null    int64
 2   education_yrs   534 non-null    int64
 3   experience_yrs  534 non-null    int64
 4   age             534 non-null    int64
 5   female          534 non-null    int64
 6   marr            534 non-null    int64
 7   south           534 non-null    int64
 8   manufacturing   534 non-null    int64
 9   construction    534 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 41.8 KB

#### d) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [ ]:
df.describe(percentiles = None, include = None, exclude = None)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### e) Calcule a proporção de funcionários de sexo masculino e feminino.

In [ ]:
index = len(df.index) 
female = df[df.female==1].count()[0]
male = df[df.female==0].count()[0]
prop_male = (male/index)*100
prop_female = (female/index)*100

print('Masculino: ' + str(male) + ' = Aprox. %.2f' % prop_male + '%')
print('Feminino: ' + str(female) + ' = Aprox. %.2f' % prop_female + '%')

Masculino: 289 = Aprox. 54.12%
Feminino: 245 = Aprox. 45.88%

#### f) Calcule a proporção de casados e solteiros.

In [ ]:
married = df[df.marr==1].count()[0]
single = df[df.marr==0].count()[0]
prop_married = (married/index)*100
prop_single = (single/index)*100

print('Casado: ' + str(married) + ' = Aprox. %.2f' % prop_married + '%')
print('Solteiro: ' + str(single) + ' = Aprox. %.2f' % prop_single + '%')

Casado: 350 = Aprox. 65.54%
Solteiro: 184 = Aprox. 34.46%

#### g) Calcule a proporção de funcionários filiados ao sindicato (union).

In [ ]:
filiado = df[df.union==1].count()[0]
nfiliado = df[df.union==0].count()[0]
prop_filiado = (married/index)*100
prop_nfiliado = (single/index)*100

print('Filiado: ' + str(filiado) + ' = Aprox. %.2f' % prop_filiado + '%')
print('Não filiado: ' + str(nfiliado) + ' = Aprox. %.2f' % prop_nfiliado + '%')

Filiado: 96 = Aprox. 65.54%
Não filiado: 438 = Aprox. 34.46%

#### h) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [ ]:
education_yrs = df.education_yrs.median()
experience_yrs = df.experience_yrs.median()
age = df.age.median()

print('Mediana Anos de educação: ' + str(education_yrs))
print('Mediana Anos de experiência: ' + str(experience_yrs))
print('Mediana Idade: ' + str(age))

Mediana Anos de educação: 12.0
Mediana Anos de experiência: 15.0
Mediana Idade: 35.0

####i) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [ ]:
education_yrs = df.education_yrs.mode()[0]
experience_yrs = df.experience_yrs.mode()[0]
age = df.age.mode()[0]

print('Moda Anos de educação: ' + str(education_yrs))
print('Moda Anos de experiência: ' + str(experience_yrs))
print('Moda Idade: ' + str(age))

Moda Anos de educação: 12
Moda Anos de experiência: 14
Moda Idade: 32

####j) Calcule o percentil 90 da variável idade.

In [ ]:
print('Percentil 90 da variável idade: ' + str(df.age.quantile(0.9)))

Percentil 90 da variável idade: 55.0

####k) Calcule o percentil 10 da variável anos de experiência.

In [ ]:
print('Percentil 10 da anos de experiência: ' + str(df.experience_yrs.quantile(0.1)))

Percentil 10 da anos de experiência: 3.0

####l) Determine qual atributo apresenta maior variabilidade dentre os atributos: anos de educação, anos de experiência e idade.

In [ ]:
# coeficiente de variação = desvio padrao/media

dp_education_yrs = df.education_yrs.std(axis= 0)
dp_experience_yrs = df.experience_yrs.std(axis = 0)
dp_age = df.age.std(axis = 0)

md_education_yrs = df.education_yrs.mean(axis= 0)
md_experience_yrs = df.experience_yrs.mean(axis = 0)
md_age = df.age.mean(axis = 0)


cv_edy = (dp_education_yrs/md_education_yrs)*100
cv_exy = (dp_experience_yrs/md_experience_yrs)*100
cv_a = (dp_age/md_age)*100

atributos = [cv_edy, cv_exy, cv_a]
var = max(atributos, key=int)

print('Desv. Padrão Anos de educação: %.2f' % dp_education_yrs)
print('Desv. Padrão Anos de experiência: %.2f' % dp_experience_yrs)
print('Desv. Padrão Idade: %.2f' % dp_age)

print('\nMédia Anos de educação: %.2f' % md_education_yrs)
print('Média Anos de experiência: %.2f' % md_experience_yrs)
print('Média Idade: %.2f' % md_age)

print('\nCoef. Var. Anos de educação: %.2f' % cv_edy)
print('Coef. Var. Anos de experiência: %.2f' % cv_exy)
print('Coef. Var. Idade: %.2f' % cv_a)

print('\nMaior Variabilidade =  %.2f' % var)

Desv. Padrão Anos de educação: 2.62
Desv. Padrão Anos de experiência: 12.38
Desv. Padrão Idade: 11.73

Média Anos de educação: 13.02
Média Anos de experiência: 17.82
Média Idade: 36.83

Coef. Var. Anos de educação: 20.09
Coef. Var. Anos de experiência: 69.46
Coef. Var. Idade: 31.84

Maior Variabilidade =  69.46